@model IEnumerable<H_Mandiola.Models.Habitacion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    th, td {
        padding: 15px;
        text-align: left;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    th {
        background-color: #b89133;
        color: white;
    }
</style>
<header>
    <br />
    <br />
    <br />
    <br />
    <div class="container">
        <center>
            <img src="../Imagenes/H-Mandiola.png" width="300" height="100" />
        </center>
    </div>
    <div class="container" style="overflow-x:auto;">
        <h4>Habitaciones</h4>

        <table class="table table-hover" style="width: 100%">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Codigo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Numero)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Numero)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td></td>
                </tr>
            }

        </table>
        <br />
        @Html.ActionLink("Nueva", "Create", null, new { @class = "btn btn-primary" })
    </div>
    </header>
