@model H_Mandiola.Models.Actividad

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-image: url('https://www.starhotelscollezione.com//assets/uploads/Starhotels-Collezione/Savoia-Excelsior-Palace/DESIGN-HISTORY-PHILOSOPHY/four-star-hotel-in-central-trieste-savoia-excelsior-palace-trieste-hall-42.jpg')
    }
</style>

<body>
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <br />
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-6 mx-auto">
                    <div class="card card-signin flex-row my-5">
                        <div class="card-body">
                            <center>
                                <img src="../Imagenes/H-icono.png" width="60" height="60" />
                            </center>
                            <br />
                            <h5 class="card-title text-center">Crear Actividades</h5>

                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @*<div class="form-group">
                                    @Html.LabelFor(model => model.Codigo, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })
                                    </div>
                                </div>*@

                            <div class="form-group">
                                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-11">
                                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-11">
                                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @*<div class="form-group">
                                    @Html.LabelFor(model => model.Dia, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Dia, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Dia, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Horainicio, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Horainicio, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Horainicio, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Horafinal, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Horafinal, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Horafinal, "", new { @class = "text-danger" })
                                    </div>
                                </div>*@
                            <br />
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Aceptar" class="btn btn-primary" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <br />
    <br />
</body>

                        @*<div>
                                @Html.ActionLink("Back to List", "Index")
                            </div>*@

                        @section Scripts {
                            @Scripts.Render("~/bundles/jqueryval")
                        }
