@model H_Mandiola.Models.usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pregunta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pregunta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.respuesta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.respuesta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.consecutivo.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.consecutivo.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado.tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rol.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rol.tipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cedula }) |
    @Html.ActionLink("Back to List", "Index")
</p>
