@model H_Mandiola.Models.Consecutivo

@{
    ViewBag.Title = "Agregar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-image: url('https://www.starhotelscollezione.com//assets/uploads/Starhotels-Collezione/Savoia-Excelsior-Palace/DESIGN-HISTORY-PHILOSOPHY/four-star-hotel-in-central-trieste-savoia-excelsior-palace-trieste-hall-42.jpg')
    }
</style>

@using (Html.BeginForm(@*ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), FormMethod.Post, new { data_function = "initialize" }*@))
{
    @Html.AntiForgeryToken()
    
    <br />
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-xl-7 mx-auto">
                <div class="card card-signin flex-row my-5">
                    <div class="card-body">
                        <center>
                            <img src="../Imagenes/H-icono.png" width="60" height="60" />
                        </center>
                        <br />
                        <h5 class="card-title text-center">Crear Consecutivo</h5>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" }) 
                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.Codigo, htmlAttributes: new { @class = "control-label col-md-5" })
                            <div class="col-md-11">
                                @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-5" })
                            <div class="col-md-11">
                                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.Consecutivo1, htmlAttributes: new { @class = "control-label col-md-5" })
                            <div class="col-md-11">
                                @Html.EditorFor(model => model.Consecutivo1, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Consecutivo1, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.PoseePrefijo, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-11">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.PoseePrefijo, new { htmlAttributes = new { @class = "checkbox" } })
                                    @Html.ValidationMessageFor(model => model.PoseePrefijo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.Prefijo, htmlAttributes: new { @class = "control-label col-md-5" })
                            <div class="col-md-11">
                                @Html.EditorFor(model => model.Prefijo, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", data_function = "noBlank" } })
                                @Html.ValidationMessageFor(model => model.Prefijo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.PoseeRango, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-11">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.PoseeRango, new { htmlAttributes = new { @class = "checkbox" } })
                                    @Html.ValidationMessageFor(model => model.PoseeRango, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.Minimo, htmlAttributes: new { @class = "control-label col-md-5" })
                            <div class="col-md-11">
                                @Html.EditorFor(model => model.Minimo, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", data_function = "noBlank" } })
                                @Html.ValidationMessageFor(model => model.Minimo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.Maximo, htmlAttributes: new { @class = "control-label col-md-5" })
                            <div class="col-md-11">
                                @Html.EditorFor(model => model.Maximo, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", data_function = "noBlank" } })
                                @Html.ValidationMessageFor(model => model.Maximo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        

                        <div class="form-group col-md-12">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Aceptar" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
}

<br />
<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
